    html {
        margin: 0;
        padding: 0;
    }
    body {
        margin: 0;
        padding: 0;
        background-color: beige;
    }
.container {
    display: grid;
    grid-template-columns: 20% 1fr 30%;
    grid-template-areas: "menu-top menu-top menu-top"
                         "menu-left grid-library grid-library"
                         "menu-left grid-library grid-library";
}      

.menu-top {
    grid-area: menu-top;
    height: 50px;
    border: 1px solid red;
}
.menu-left {
    grid-area: menu-left;
    border: 1px solid red;
    height: 100vh;
}
.grid-library {
    grid-area: grid-library;
    border: 1px solid red;
}