    html {
        margin: 0;
        padding: 0;
        /* background-color: #000; */
        font-family: 'Lato', sans-serif;
    }
    body {
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }
/*----- [Grid Template Containet]------
-----------------------------------*/
.container {
    display: grid;
    grid-template-columns: 150px 1fr 350px;
    grid-template-areas: "menu-top menu-top menu-top"
                         "menu-left grid-library grid-library"
                         "menu-left grid-library grid-library";
}      
.menu-top {
    grid-area: menu-top;
    height: 50px;
    background-color: white;
    box-shadow: 0px 3px 6px #aaaaaa;
    
}
.menu-left {
    grid-area: menu-left;

    background-color: #ae0b0b;
}
.grid-library {
    grid-area: grid-library;
    background-color: #fff;
    width: 100%;
}


/*--- [Nav top]----
-----------------------------------*/
.menu-topContainer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}
.menu-top--logo {
    cursor: pointer;
    height: inherit;
    display: flex;
    align-items: center;
}
.menu-top--logo img {
    height: 35px;
    margin-left: 15px;
    
}
.menu-topUserName p {
    margin: 0px 10px;
    height: 100%;
    text-decoration: none;
    width: max-content;
}
.menu-topUserPhoto {
    display: flex;
    align-items: center;
}
.menu-topUserPhoto img {
    width: 30px;
    height: 30px;
    border-radius: 15px ;
    margin-right: 10px;
}
.menu-topUserConfi {
    display: flex;
    align-items: center;
}
.menu-topUserConfi img {
    width: 30px;
    height: 30px;
    margin-right: 10px;

}
.menu-topUser {
    display: flex;
    justify-content: right;
    margin-right: 15px;
    height: 100%;
    align-items: center;
    /* width: 33%; */
    
}
.menu-topUser a {
    text-decoration: none;
    color: black;
}
.menu-topSearch {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0px 15px;
}
.menu-topSearch input { 
    border: 1px solid gray;
    height: 25px;
    border-radius: 15px;
    width: 100%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.017em;
    font-size: 15px;
    font-weight: 800;

}
/*--- [Nav left]----
-----------------------------------*/

.menu-left {
    font-family: 'Lato', sans-serif;
    margin-left: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-left--icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: 300px;
    justify-content: space-around;
}
.menu-left--icons img {
    width: 80px;
}
.menu-left--conf  {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.menu-left--conf img {
    width: 70px;
}

/*--- [Grid Template grid-library]----
-----------------------------------*/

.grid-library {
    width: 100vh;
    margin: 4%;
    grid-gap: 20px;

}
.item-grid {
    
}
.item-grid--title img {
    width: 250px;
    height: 350px;
}
.grid-library--section {
    width: 95%;
}
.grid-library--section---new {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    grid-auto-flow: column;
    overflow-x: auto;
    margin-right: 50px;
    scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
    scrollbar-width: thin;

}
